.counter_cont {
    @include flex (row, space-between, center, nowrap);
}

.counter_item {
    @include flex (column, center, center, nowrap);
    font-size: 30px;
    opacity: 0;
    transform: translate(0px, 50%);
    transition: all 1s ease;
    color: var(--color_text_spec);
    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    span {
        display: inline-block;
        padding: 15px 0px;
        font-size: 50px;
    }
    p {
        font-size: 28px;
    }
}

@media (max-width: $pc) {
    .counter_item  {
        p {
           font-size: 26px;
        }
    }
}

@media (max-width: $notebook) {
    .counter_item  {
        p {
           font-size: 24px;
        }
    }
}

@media (max-width: $tablet) {
    .counter_cont {
        @include flex (column, center, center, nowrap);
    }

    .counter_item  {
        margin-bottom: 75px;
    }
}